<form [formGroup]="form" (ngSubmit)="onSubmit()" class="display-flex-row">
<div class="block-menu display-flex-column">
  <ng-select [items]="cities"
             bindLabel="name"
             placeholder="Select city"
             [multiple]="true"
             >
  </ng-select>
  <div class="display-flex-row">
    <label>Surface (m2)</label>
    <p class="fill-space"></p>
    <input type="number" placeholder="Min">
    <p class="fill-space"></p>
    <input type="number" placeholder="Max">
  </div>
</div>
<div class="block-menu display-flex-column">
  <ng-select [items]="cities"
             bindLabel="name"
             placeholder="Choisir"
             [multiple]="true"
  >
  </ng-select>
  <div class="display-flex-row">
    <label>Surface (m2)</label>
    <p class="fill-space"></p>
    <input type="number" placeholder="Min">
    <p class="fill-space"></p>
    <input type="number" placeholder="Max">
  </div>
</div>
<div>
  <button class="button-menu">Lancer la recherche</button>
</div>
</form>

