<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="prenom">First Name</label>
        <input id="prenom" type="text" formControlName="Prenom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Prenom?.errors }" />
        <div *ngIf="submitted && f.Prenom.errors" class="invalid-feedback">
          <div *ngIf="f.Prenom.errors.required">Le prenom est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="nom">Last Name</label>
        <input id="nom" type="text" formControlName="Nom" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nom?.errors }" />
        <div *ngIf="submitted && f.Nom.errors" class="invalid-feedback">
          <div *ngIf="f.Nom.errors.required">Le nom est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="mail">mail</label>
        <input id="mail" type="text" formControlName="Mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mail?.errors }" />
        <div *ngIf="submitted && f.Mail.errors" class="invalid-feedback">
          <div *ngIf="f.Mail.errors.required">L'email est obligatoire</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="MDP" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.MDP?.errors }" />
        <div *ngIf="submitted && f.MDP.errors" class="invalid-feedback">
          <div *ngIf="f.MDP.errors.required">Le mot de passe est obligatoire</div>
          <div *ngIf="f.MDP.errors.minlength">Le mot de passe doit contenir 6 caractère</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </div>
</div>
