.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.board {
  margin-bottom: auto;
  background-color: beige;
  flex-grow: 1;
  height: 40%;
}

.img-home {
  height: 50%;
}

.footer {
  background-color: aqua;
  margin-top: auto;
}
