<nav>
  <ul>
    <li><a href="#">Mon compte</a>
      <ul class="dropdown">
        <li *ngIf="!(isLogin$|async)"><a routerLink="/connexion">Connexion</a></li>
        <li *ngIf="(isLogin$|async)"><a routerLink="/user">Mon compte</a></li>
        <li *ngIf="(isLogin$|async)"><a routerLink="/reservation">Mes réservations</a></li>
        <li *ngIf="(isLogin$|async)"><a  (click)="getAllForUser()" routerLink="/biens">Mes biens</a></li>
        <li *ngIf="(isLogin$|async)"><a routerLink="/ajoutsBien">Ajouter un bien</a></li>
        <li *ngIf="!(isLogin$|async)"><a routerLink="/inscription">Inscription</a></li>
        <li *ngIf="(isLogin$|async)"><a (click)="logout()">Déconnexion</a></li>
      </ul>
    </li>
    <li>Book And Travel</li>
  </ul>
</nav>
